
<div class="flex flex-col md:flex-row md:w-[60%] w-full m-auto gap-x-10 items-center mb-8 md:mb-0">
<h1 class="items-center text-xl">Frontend: </h1>
<div class="flex flex-wrap md:flex-nowrap justify-center md:justify-start">
  
  <!-- ASTRO JS -->
  <div
  data-aos="zoom-in"
  class="ease-in duration-200 hover:rounded-xl hover:text-[#0C1844] flex justify-center rounded-lg w-28 h-24 items-center text-center"
>
<svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.972 3.483c.163.196.247.46.413.987L19.025 16a15.5 15.5 0 0 0-4.352-1.42l-2.37-7.723a.31.31 0 0 0-.296-.213a.31.31 0 0 0-.295.214L9.37 14.576A15.5 15.5 0 0 0 5 15.998l3.657-11.53c.168-.527.251-.79.415-.986c.144-.172.331-.306.544-.388C9.858 3 10.143 3 10.715 3h2.612c.572 0 .858 0 1.1.094c.213.082.4.217.545.39M9 18c0 1.5 2 3 3 4c1-1 3-3 3-4q-3 1.5-6 0"/></svg>

</div>
  <!-- VUE JS -->
  <div
  data-aos="zoom-in"
  class="ease-in duration-200 hover:rounded-xl hover:text-[#0C1844] flex justify-center rounded-lg w-28 h-24 items-center text-center"
>
<svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24"><path fill="currentColor" d="M18.03 2.443h-3.643L12.013 6.4L9.63 2.444l-2.646-.001H.831L12.03 21.558L23.168 2.443Zm-6.005 15.15L4.322 4.443h2.824l4.885 8.406l4.847-8.407h2.81Z"/></svg>
</div>
<!-- TAILWIND CSS -->
<div
  data-aos="zoom-in"
  class="ease-in duration-200 hover:rounded-xl hover:text-[#0C1844] flex justify-center rounded-lg w-28 h-24 items-center text-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="7em"
    height="7em"
    viewBox="0 0 128 128"
  >
    <path
      fill="currentColor"
      d="M13.227 56.074c-3.528 0-5.727 1.778-6.602 5.3C7.95 59.603 9.5 58.95 11.25 59.399c1 .25 1.728.977 2.524 1.801c1.3 1.324 2.8 2.852 6.078 2.852c3.523 0 5.723-1.778 6.598-5.301c-1.324 1.773-2.875 2.425-4.625 1.976c-1-.25-1.723-.976-2.524-1.8c-1.3-1.324-2.801-2.852-6.074-2.852zm43.922.477v13.574h2V56.55h-2zm-3.324.324c-.7 0-1.274.574-1.274 1.273c0 .676.575 1.277 1.274 1.277s1.3-.6 1.277-1.277c0-.699-.577-1.273-1.277-1.273m23 0c-.7 0-1.274.574-1.274 1.273c0 .677.575 1.277 1.274 1.277c.727 0 1.3-.6 1.277-1.277c0-.699-.577-1.273-1.277-1.273m21.352.226v5.024c-.7-.977-1.801-1.574-3.25-1.574c-2.528 0-4.625 2.125-4.625 4.898c0 2.75 2.097 4.902 4.625 4.902c1.449 0 2.55-.6 3.25-1.578v1.352h2V57.102zm-60.824.625l-2 .598v2.5H33.65v1.926h1.703v4.476c0 2.421 1.224 3.274 4.324 2.899v-1.801c-1.527.074-2.3.101-2.3-1.098V62.75h2.273v-1.926h-2.297zm7.875 2.825c-2.528 0-4.625 2.125-4.625 4.898c0 2.75 2.098 4.902 4.625 4.902c1.45 0 2.547-.6 3.25-1.578v1.352h2v-9.301h-2v1.3c-.704-.976-1.801-1.573-3.25-1.573m39.824.023c-1.25 0-2.25.477-2.875 1.477v-1.2h-2v9.297h2v-5c0-1.898 1.05-2.672 2.375-2.672c1.25 0 2.074.723 2.074 2.149v5.5h2v-5.727c0-2.398-1.5-3.824-3.574-3.824m21.848 0c-2.824 0-4.922 2.124-4.922 4.902c0 2.75 2.126 4.899 4.922 4.899c1.829 0 3.426-.95 4.176-2.426l-1.723-.973c-.454.847-1.352 1.422-2.477 1.422c-1.625 0-2.875-1.25-2.875-2.922c0-1.676 1.227-2.926 2.875-2.926c1.125 0 2.051.551 2.45 1.426l1.726-1c-.75-1.453-2.323-2.402-4.152-2.402m8.875.027c-1.898 0-3.399 1.098-3.399 2.848c0 3.323 5 2.403 5 4.05c0 .75-.676 1.052-1.574 1.052c-1.028 0-1.778-.5-2.074-1.352l-1.727 1c.601 1.324 1.95 2.176 3.801 2.176c2 0 3.625-1.023 3.625-2.875c0-3.45-5-2.425-5-4.125c0-.65.626-.977 1.348-.95c.778 0 1.426.324 1.75 1.051l1.703-.953c-.653-1.222-1.925-1.922-3.453-1.922m8.578 0c-1.903 0-3.402 1.098-3.402 2.848c0 3.323 5 2.403 5 4.05c0 .75-.677 1.052-1.575 1.052c-1.024 0-1.774-.5-2.074-1.352l-1.726 1c.6 1.324 1.948 2.176 3.8 2.176c2 0 3.625-1.023 3.625-2.875c0-3.45-5-2.425-5-4.125c0-.65.626-.977 1.352-.95c.774 0 1.422.324 1.75 1.051l1.7-.953c-.654-1.222-1.927-1.922-3.45-1.922m-71.527.223v9.3h2v-9.3zm7.852 0l2.925 9.3h1.973l1.95-6.273l1.925 6.274h1.977l2.925-9.301h-2.125l-1.83 6.426l-1.92-6.426h-1.925L64.6 67.25l-1.798-6.426h-2.125zm15.148 0v9.3h2v-9.3zM45.525 62.5c1.676 0 2.953 1.25 2.953 2.976c0 1.722-1.277 2.973-2.953 2.973c-1.672 0-2.922-1.25-2.95-2.973c0-1.727 1.279-2.976 2.95-2.976m49.703 0c1.672 0 2.949 1.25 2.949 2.976c0 1.722-1.277 2.973-2.95 2.973c-1.675 0-2.953-1.25-2.953-2.973c0-1.727 1.278-2.976 2.953-2.976zM6.603 64C3.075 64 .876 65.774 0 69.3c1.324-1.776 2.875-2.425 4.625-1.976c1 .25 1.727.977 2.523 1.8c1.301 1.325 2.8 2.852 6.078 2.852c3.523 0 5.723-1.777 6.598-5.3c-1.324 1.773-2.875 2.426-4.625 1.972c-1-.25-1.722-.973-2.523-1.797C11.399 65.522 9.899 64 6.603 64"
    ></path>
  </svg>
</div>
<!-- JAVA -->
<div
  data-aos="zoom-in"
  class="ease-in duration-200 hover:rounded-xl hover:text-[#0C1844] flex justify-center rounded-lg w-28 h-24 items-center text-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="4em"
    height="4em"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M16.5 6.08s-6.84 1.71-3.56 5.48c.97 1.11-.25 2.11-.25 2.11s2.45-1.25 1.31-2.85c-1.06-1.47-1.86-2.2 2.5-4.74m-4.47 1.2C16.08 4.08 14 2 14 2c.84 3.3-2.96 4.3-4.33 6.36c-.94 1.4.46 2.91 2.33 4.64c-.71-1.7-3.22-3.16.03-5.72M9.37 17.47c-3.08.86 1.88 2.63 5.79.96c-.38-.15-.75-.33-1.1-.54c-1.36.31-2.76.37-4.14.18c-1.31-.16-.55-.6-.55-.6m5.32-1.68c-1.75.38-3.56.47-5.34.26c-1.31-.13-.45-.77-.45-.77c-3.4 1.13 1.88 2.4 6.6 1.02c-.29-.11-.57-.3-.81-.51m3.42 3.3s.57.47-.61.83c-2.28.68-9.43.89-11.41.03c-.71-.31.63-.74 1.05-.83c.23-.06.46-.08.69-.08c-.79-.54-5.13 1.1-2.19 1.56c7.97 1.3 14.54-.6 12.47-1.51m-2.74-4.86c.29-.19.6-.35.92-.49c0 0-1.51.26-3.02.4c-1.6.16-3.21.18-4.81.06c-2.35-.31 1.29-1.2 1.29-1.2c-1.1 0-2.18.26-3.16.75c-2.05 1 5.1 1.45 8.78.48m.9 2.42c-.02.04-.04.07-.08.1c5.01-1.31 3.17-4.64.77-3.81c-.13.06-.24.14-.31.25c.14-.05.28-.09.43-.12c1.2-.24 2.92 1.63-.81 3.58m.13 4.61c-3.01.52-6.09.56-9.12.14c0 0 .46.38 2.81.53c3.6.23 9.13-.13 9.26-1.83c.03.01-.23.65-2.95 1.16"
    ></path></svg
  >
</div>
<!-- JAVASCRIPT -->
<div
  data-aos="zoom-in"
  class="ease-in duration-200 hover:rounded-xl hover:text-[#0C1844] flex justify-center rounded-lg w-28 h-24 items-center text-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="4em"
    height="4em"
    viewBox="0 0 512 512"
    ><path
      fill="currentColor"
      d="M32 32v448h448V32Zm240 348c0 43.61-25.76 64.87-63.05 64.87c-33.68 0-53.23-17.44-63.15-38.49l34.28-20.75c6.61 11.73 11.63 21.65 26.06 21.65c12 0 21.86-5.41 21.86-26.46V240h44Zm99.35 63.87c-39.09 0-64.35-17.64-76.68-42L329 382c9 14.74 20.75 24.56 41.5 24.56c17.44 0 27.57-7.72 27.57-19.75c0-14.43-10.43-19.54-29.68-28l-10.52-4.52c-30.38-12.92-50.52-29.16-50.52-63.45c0-31.57 24.05-54.63 61.64-54.63c26.77 0 46 8.32 59.85 32.68L396 290c-7.22-12.93-15-18-27.06-18c-12.33 0-20.15 7.82-20.15 18c0 12.63 7.82 17.74 25.86 25.56l10.52 4.51c35.79 15.34 55.94 31 55.94 66.16c.01 37.9-29.76 57.64-69.76 57.64"
    ></path></svg
  >
</div>
<!-- EXPO GO -->
<div
  data-aos="zoom-in"
  class="ease-in duration-200 hover:rounded-xl hover:text-[#0C1844] flex justify-center rounded-lg w-28 h-24 items-center text-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="4em"
    height="4em"
    viewBox="0 0 32 32"
    ><path
      fill="currentColor"
      d="M24.292 15.547a3.93 3.93 0 0 0 4.115-3.145a2.57 2.57 0 0 0-2.161-1.177c-2.272-.052-3.491 2.651-1.953 4.323zm-9.177-10.85l5.359-3.104L18.766.63l-7.391 4.281l.589.328l1.119.629l2.032-1.176zm6.046-3.39c.089.027.161.1.188.188l2.484 7.593a.285.285 0 0 1-.125.344a5.06 5.06 0 0 0-2.317 5.693a5.066 5.066 0 0 0 5.401 3.703a.3.3 0 0 1 .307.203l2.563 7.803a.3.3 0 0 1-.125.344l-7.859 4.771a.3.3 0 0 1-.131.036a.26.26 0 0 1-.203-.041l-2.765-1.797a.3.3 0 0 1-.109-.129l-5.396-12.896l-8.219 4.875c-.016.011-.037.021-.052.032a.3.3 0 0 1-.261-.021l-1.859-1.093a.283.283 0 0 1-.115-.381l7.953-15.749a.27.27 0 0 1 .135-.131L18.615.045a.29.29 0 0 1 .292-.005zm-8.322 5.1l-1.932-1.089l-7.693 15.229l1.396.823l6.631-9.015a.28.28 0 0 1 .271-.12a.29.29 0 0 1 .235.177l7.228 17.296l1.933 1.251l-8.063-24.552zm13.406 10.557c-2.256 0-3.787-2.292-2.923-4.376c.86-2.083 3.563-2.619 5.156-1.025c.595.593.928 1.396.928 2.235a3.16 3.16 0 0 1-3.161 3.167z"
    ></path></svg
  >
</div>

</div>
</div>