---
import { Icon } from "astro-icon/components";
---

<div class="w-14 2xl:w-20 p-2 gap-2 fixed grid justify-center items-center md:top-4 md:left-8 top-2 left-1 z-50 bg-[#fffefe] rounded-lg 2xl:bg-transparent">
  <div class="flex justify-center">
    <img src="./py.png" class="w-12" alt="nacionalidad paraguaya" />
  </div>
  <a href="https://www.linkedin.com/in/diego-cubilla/">
    <div class="flex justify-center">
      <Icon
        name="mdi:linkedin"
        class="hover:text-red-800 transition ease-in-out duration-1500 rounded-lg w-10 h-10 text-[#c80036]"
      />
    </div>
  </a>
  <a href="https://github.com/cubillagigante">
    <div class="flex justify-center">
      <Icon
        name="mdi:github"
        class="hover:text-red-800 transition ease-in-out duration-300 rounded-lg w-10 h-10 text-[#c80036]"
      />
    </div>
  </a>
  
</div>
